.chat {
    width: 250px;
    border: solid 1px #3a8ecb;
    height: 420px;
    left: calc(100% - 260px);
    top: calc(100% - 380px);
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    .chat .cabecalhoChat {
        height: 30px;
        background-color: #1467a4;
        color: #83c2f1;
        left: 80%;
        text-align: center;
        padding: 5px;
        font-weight: bold;
    }

    .chat .corpoChat {
        height: 300px;
        padding: 5px;
        background-color: #fff;
        overflow-y: scroll;
        border-bottom: solid 1px #00000021;
        overflow-x: hidden !important;
    }

    .chat .textBoxChat {
        margin-top: 10px;
        width: 80%;
        height: 30px;
        vertical-align: bottom;
        bottom: 0px;
        left: 0;
        border: none;
        float: left;
        padding: 5px;
        word-break: break-word;
        outline-width: 0;
    }
    .chat .textBoxChat:focus{
        border: none;
    }

    .chat .btnEnviarMsg {
        margin-top: 7.5px;
        border-radius: 30px;
        border: 0;
        background-color: #1467a4;
        width: 30px;
        height: 30px;
        background-image: url('../img/airplane.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        cursor: pointer;
        float: left;
        outline-width: 0;
    }

.btnEnviarMsg:hover {
    background-color: #3a8ecb;
}

.btnEnviarMsg:active {
    background-color: #105c93;
}

.corpoChat .msgDireita {
    clear: both;
    word-break: normal;
    float: right;
    position: relative;
    padding: 5px;
    margin: 1px 5px;
    width: auto;
    max-width: 80%;
    min-height: 30px;
    height: auto;
    text-align: right;
    background-color: #1467a4;
    color: #fff;
    border-radius: 5px;
}

.corpoChat .msgEsquerda {
    clear: both;
    word-break: break-word;
    float: left;
    position: relative;
    padding: 5px;
    margin: 1px 5px;
    width: auto;
    max-width: 90%;
    min-height: 30px;
    height: auto;
    text-align: left;
    background-color: #3a8ecb;
    color: #fff;
    border-radius: 5px;
}





/*
 *  STYLE 1
 */


.corpoChat::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(255, 255, 255, 0.00);
}

.corpoChat::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(100, 158, 199, 0.12);
}

.corpoChat::-webkit-scrollbar-thumb:hover {
        transition: ease-in 3s;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #649ec7;
    }
